{{#vendorExtensions.x-servletRequestParam}}@Context HttpServletRequest httpServletRequest{{/vendorExtensions.x-servletRequestParam}}{{!
}}{{#vendorExtensions.x-servletResponseParam}}{{#vendorExtensions.x-servletRequestParam}}, {{/vendorExtensions.x-servletRequestParam}}@Context HttpServletResponse httpServletResponse{{#hasParams}}, {{/hasParams}}{{/vendorExtensions.x-servletResponseParam}}