{{#vendorExtensions.x-servletRequestParam}}HttpServletRequest httpServletRequest{{/vendorExtensions.x-servletRequestParam}}{{!
}}{{#vendorExtensions.x-servletResponseParam}}{{#vendorExtensions.x-servletRequestParam}}, {{/vendorExtensions.x-servletRequestParam}}HttpServletResponse httpServletResponse{{#hasParams}}, {{/hasParams}}{{/vendorExtensions.x-servletResponseParam}}